:root {
  --bg-color-body: #000000;
  --bg-color-container: #222;
  --text-color: #ccb9b9;
}

[data-theme="light"] {
  --bg-color-body: #e0d2d2;
  --bg-color-container: #ffffff;
  --text-color: #5e5454;
}
